<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- A template for showing an invoice in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <script src="invoice.js?ver=11"></script>
    <script src="exampleData.js"></script>

    <link rel="stylesheet" href="invoice.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out invoice</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled invoice</a></li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-if="invoice">
        <div class="top">
          <div class="supplier" style="text-align: left;" >
            <div v-for="business in (invoice.Invoicer ? [invoice.Invoicer] : [])" style=" display: flex;flex-direction: column; gap:5px;">
              <template v-if="typeof(business) === 'string'">
                <div class="address newlined">{{ business }}</div>
              </template>
              <template v-else>
                <div class="address" style="display: flex;flex-direction: column; gap: 5px;">
                  <div class="name">Monaco Chain INC.</div>
                <div style="font-size: 15px;">54 west 47th Street</div>
                <div style="font-size: 15px;">Suite 3R</div>
                <div style="font-size: 15px;">New York, NY, 10036</div>
                  <div style="font-size: 15px;" class="phone">9145089314</div>
                  <div style="font-size: 15px;" class="email">ceyda.t@monacochain.com</div>
                  <div style="font-size: 15px;" class="website"><a v-bind:href="business.Url" style="text-transform: none;">monacochainwholesale.com</a></div>
                </div>
              </template>
            </div>
          </div>
          <div class="block">
            <div class="header" style="margin-bottom: 15px;">
              <img src="mc-log.png" width="250" />
            </div>
            <div>
              <div class="meta title">Invoice</div>
              <div class="info"><span class="meta">ORDER NO</span> #{{ invoice.Number }}</div>
              <div class="info" v-if="invoice.Issued"><div class="meta date-tag">ORDER DATE</div> {{ invoice.Issued | asDate }}</div>
            </div>
          </div>
        </div>
        
        <div class="client" v-for="business in (invoice.Client ? [invoice.Client] : [])">
          <div class="title">Client</div>
          <div class="details">
            <template v-if="typeof(business) === 'string'">
              <div class="newlined">{{ business }}</div>
            </template>
            <template v-else>
              <div>{{ business.Name }}</div>
              <template v-if="business.Street1">
                {{ business.Street1 }},
              </template>
              <template v-if="business.Street2">
                {{ business.Street2 }},
              </template>
              {{ business.City }} {{ business.State }} {{ business.Zip }}
              <template v-if="business.Country">
                <br />{{ business.Country }}
              </template>
            </template>
          </div>
        </div>

        <table class="items">
          <template v-if="!Array.isArray(invoice.Items)">
            <tr>
              <th>Description</th>
              <th class="money">Total</th>
            </tr>
            <tr>
              <td>{{ invoice.Items }}</td>
              <td class="money">{{ invoice.Total | currency }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <th style="font-weight: bold;">IMG</th>
              <th style="font-weight: bold;" class="number">KARAT</th>
              <th style="font-weight: bold;">Description</th>
              <th style="font-weight: bold;">TYPE</th>
              <th style="font-weight: bold;" class="number">PCS</th>
              <th style="font-weight: bold;" class="number">WEIGHT (GR)</th>
              <th style="font-weight: bold;" class="number">LABOR/GR</th>
              <th style="font-weight: bold;" class="money">LABOR</th>
              <th style="font-weight: bold;" class="money">GOLD</th>
              <th style="font-weight: bold;" class="money">TOTAL</th>
            </tr>
            <tr v-for="(item, index) in invoice.Items">
              <td class="img" style="padding:4px;">
                <img :class="'img-' + index" :style="item.Type === 'Ring' || item.Type === 'Earring' ? 'height: 110px;' : ''" />
              <td class="number">{{ item.Karat }}</td>
              <td class="item-t">{{ item.Description }}  <br>
                <small style="font-size: 11px;
  font-weight: bold;">- {{ item.options }} -</small></td>
              <td class="item-t" id="type">{{ item.Type }}</td>
              <td class="number">{{ item.Quantity }}</td>
              <td class="money">{{ item.Weight }}</td>
              <td class="money">{{ item.Labor_Gr | currency }}</td>
              <td class="money">{{ item.Labor | currency }}</td>
              <td class="money">{{ item.Gold | currency }}</td>
              <td class="money">{{ item.Total | currency }}</td>
            </tr>
          </template>
        </table>
        <div style="border: 1px solid black;display: flex;gap: 12%; padding: 10px; page-break-before: always;">
          <div style="width: 22%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="font-weight: bold;">FIX OZ</span> <span>{{ invoice.Fix_Gold_Oz | currency }}</span> </div>
          <span style="display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-left: -5%;
          margin-right: -5%;">+</span>
          <div style="width: 22%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="font-weight: bold;">PREMIUM</span> <span>{{ invoice.Premium | currency }}</span> </div>
          <div style="width: 22%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="text-align: center; font-weight: bold;">TOTAL FIX GOLD/OZ</span><span> {{ invoice.Fix_Oz_Total | currency }}</span> </div>
          <div style="width: 22%; display: flex; flex-direction: column; justify-content: center; align-items: center;"><span style="font-weight: bold;">DATE</span><span> {{ invoice.Issued | asDateM }}</span></div>
        </div>

        <div class="overview-grid">
          <div v-for="(overview, karat) in groupedItems" :key="karat" :class="['overview-item', { single: isSingleOverview }]">
            <div class="overview-title">{{ karat }} OVERVIEW</div>
            <div class="overview-items">TOTAL WEIGHT (gr) <span>{{ overview.totalWeight | round }}</span></div>
            <div class="overview-items">GOLD/GR <span>${{ overview.goldPerGram | round }}</span></div>
            <div class="overview-items">TOTAL GOLD <span>{{ overview.totalGoldPrice | currency }}</span></div>
            <div class="overview-items">TOTAL LABOR <span>{{ overview.totalLabor | currency }}</span></div>
            <div class="overview-items last">{{ karat }} TOTAL PRICE <span>{{ overview.totalPrice | currency }}</span></div>
          </div>
        </div>


        <div class="overview grand">
          <div class="overview-title">INVOICE GRAND TOTAL</div>
          <div class="overview-items grand">GRAND TOTAL WEIGHT (gr) <span> {{ grandTotalWeight | round }} </span></div>
          <div class="overview-items grand">GRAND TOTAL GOLD <span>{{ grandTotalGoldPrice | currency }} </span></div>
          <div class="overview-items grand">GRAND TOTAL LABOR <span>{{ grandTotalLabor | currency }} </span></div>
          <div class="overview-items grand last">GRAND TOTAL PRICE <span>{{ grandTotalPrice | currency }} </span></div>
        </div>
        
        <div class="overview payment">
          <div v-for="payment in groupedPayments" v-if="payment.Method && payment.Method !== '' && payment.Amount !== 0" class="overview-items" > 
            <span style="width:100px;">Payment</span>
            <span style="width:100px;">{{ payment.Date | asDateM }}</span>
            <span style="width:100px;">{{ payment.Method }}</span>
            <span style="text-align: right;
    width: 85px;">{{ payment.Amount | currency }}</span>
          </div>
        <div class="overview-items grand last">Balance Due <span>{{ invoice.Balance | currency }} </span></div>
      </div>

      <span style="border-bottom: 1px solid black;display: block;font-weight: bold;margin-top: 5%;">PAYMENT OPTIONS</span>
      <div style="display:flex;margin-top: 15px;flex-direction: row;">
        <div class="payment-options" style="border-right: 1px solid black;"><span class="payment-options-title">WIRE</span>
        <div class="wire">
          <span>{{ wireAccountList[0] }}</span>
          <span>ACCOUNT #: {{ wireAccountList[1] }}</span>
          <span>ROUTING #: {{ wireAccountList[2] }} (ELECTRONIC)</span>
          <span>ROUTING #: {{ wireAccountList[1] }} (WIRES)</span>
          <span>SWIFT CODE: {{ wireAccountList[3] }}</span>
        </div>
        </div>
        <div class="payment-options" style="border-right: 1px solid black;"><span class="payment-options-title">CHECK</span><span>{{ invoice.Check }}</span></div>
        <div class="payment-options" style="border: none;"><span class="payment-options-title">ZELLE</span><span>{{ invoice.Zelle }}</span></div>
        </div>

        <div style="margin-top: 50px;">
          <span style="font-weight: bold; font-size:14px;">TERMS & CONDITIONS</span>
          <p class="note" style="font-size: 12px;">Thank you for your valued business. We greatly value your trust and confidence and sincerely appreciate your loyalty to our business.</p>
        </div>
        <div class="print">
          <a href="javascript:window.print()">Print</a>
        </div>
      </template>
    </div>
  </body>
</html>



